<table class="table">
  <tr>
    <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
      Add CPU</a></td>
      <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
        Selected Component</a></td>
        <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
         Price</a></td>
         <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
          Buy Now</a></td>
      
  </tr>
  <tr>
    <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
      Add CPU Cooler</a></td>
      <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
        Selected Component</a></td>
        <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
         Price</a></td>
         <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
          Buy Now</a></td>
  </tr>
  <tr>
    <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
      Add Memory</a></td>
      <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
        Selected Component</a></td>
        <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
         Price</a></td>
         <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
          Buy Now</a></td>
  </tr>
  <tr>
    <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
      Add MotherBoard</a></td>
      <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
        Selected Component</a></td>
        <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
         Price</a></td>
         <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
          Buy Now</a></td>
  </tr>
  <tr>
    <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
      Add Graphic Card</a></td>
      <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
        Selected Component</a></td>
        <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
         Price</a></td>
         <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
          Buy Now</a></td>
  </tr>
  <tr>
    <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
      Add Case</a></td>
      <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
        Selected Component</a></td>
        <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
         Price</a></td>
         <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
          Buy Now</a></td>
  </tr>
  <tr>
    <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
      Add Storage</a></td>
      <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
        Selected Component</a></td>
        <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
         Price</a></td>
         <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
          Buy Now</a></td>
  </tr>
  <tr>
    <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
      Add Power Supply</a></td>
      <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
        Selected Component</a></td>
        <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
         Price</a></td>
         <td><a mat-button routerLinkActive="list-item-active" routerLink="/cutomize_amd" id="compobutton">
          Buy Now</a></td>
  </tr>
</table>