<!-- <mat-form-field>
  <input (keyup)="applyFilter($event.target.value)"  matInput  placeholder="Please enter">
 
</mat-form-field> -->


<div class="filter">

  <!-- <mat-search-bar (keyup)="applyFilter($event.target.value)" 
class="search"  placeholder="Please enter"></mat-search-bar> -->


</div>

<table class="table table-striped">
  <thead>
    <tr *ngFor="let pd of productHead">
      <th>{{pd}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pd of productObser |async ">
      <td>{{pd.name}}</td>
      <td><img src="{{pd.imageUrl}}"> </td>
    </tr>
  </tbody>
</table>
